<?xml version="1.0"?>

<launch>
  <include file="$(find social_segway_description)/launch/segway_playpen.launch">
  </include>

  <include file="$(find segway_viz)/launch/view_robot.launch">
  </include>

  <include file="$(find social_segway_description)/launch/2d_mapless_nav_demo.launch">
    <arg name="sim" value="true"/>
  </include>
  
</launch>
