<?xml version="1.0"?>
<!--Segway Robot Description Launch File-->
<launch>
  
  <!-- <remap to ="/camera/rgb/image_raw" from = "/camera/color/image_raw" /> -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
  <arg name = "align_depth" value = "true" />
  </include>
  <include file="$(find darknet_ros)/launch/yolo_v3.launch" />
  <node name = "detection_node" pkg = "cameralauncher" type = "detection_node.py" output="screen"/>

</launch>
