<?xml version="1.0"?>
<launch>
	<group ns="segway">
		<remap from="segway_rmp_node/odom" to="/odom" />
		<node pkg="tf" type="static_transform_publisher" name="base_to_lidar_broadcaster_2" args="0 0 0 0 0 0 laser_mount_link laser 100" />
	</group>
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find social_segway_description)/urdf/rmp.urdf.xacro'" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
	</node>
	<!--
	<include file="$(find realsense2_camera)/launch/rs_camera.launch">
	</include>
	-->

  	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find social_segway)/rviz/robot.rviz" output="screen"/>	
</launch>
