<?xml version="1.0"?>
<launch>
	<node pkg="move_base" type="move_base" name="move_base" clear_params="true" output="screen">
		<!-- Remap into correct namespace for mux -->
		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
		<!-- Change the name of the move_base; it is first checked and handled by the client that we're using -->
		<remap from="move_base/goal" to="move_base_navi/goal" />
		<remap from="move_base/result" to="move_base_navi/result" />
		<remap from="move_base/feedback" to="move_base_navi/feedback" />
		<remap from="move_base/status" to="move_base_navi/status" />
		<remap from="move_base/cancel" to="move_base_navi/cancel" />
		<!--
		Load common configuration files
		
		<rosparam file="$(find segway_navigation_apps)/config/RMP_220/move_base_params.yaml" command="load" />
		-->
		<rosparam file="$(find segway_navigation_apps)/config/RMP_220/base_planner_params.yaml" command="load" />
		<rosparam file="$(find social_segway)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find social_segway)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<!-- Load global/local costmap specific parameters -->
		<rosparam file="$(find segway_navigation_apps)/config/costmaps/3d/costmap_local.yaml" command="load" />
		<rosparam file="$(find segway_navigation_apps)/config/costmaps/3d/costmap_global_sensors.yaml" command="load" />
	</node>
</launch>
