<?xml version="1.0"?>
<launch>
    <node name="semantic_node" pkg="social_segway" type="semantic_node" output="screen">
        <param name="compare" type="bool" value="$(arg compare)" />
    </node>
    <group if="$(arg compare)">
        <node name="main_node" pkg="social_segway" type="main_node_auto" output="screen"/>
    </group>
</launch>
